@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
/* ------------------------- Variables ------------------------- */
/*  Todo lo que se ponga dentro de root va a estar 
    accesible para todas las demás clase de abajo */

:root {
  --green-color: #7acc2d;
  --white-color: white;
  --black-color: #313337;
  /* Tipografía */
  --normal: 12px;
  /* Espaciado */
  --space: 10px;
  --space-2: 20px;
  /* Box Shadow */
  --box: 0 0 3px #c1bcbc;
}

/* ------------------------- Variables ------------------------- */

html,
body {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  font-size: var(--normal);
  color: var(--black-color);
}

p {
  font-size: var(--normal);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  min-height: 60px;
  background-color: var(--green-color);
}

nav ul {
  display: flex;
}

nav ul li {
  padding-left: 20px;
  list-style: none;
}

nav a {
  color: var(--white-color);
  text-decoration: none;
  font-size: var(--normal);
}

nav a:hover {
  color: var(--white-color);
}

hr {
  opacity: 0.2;
}

/* ------------------------- Main section ------------------------- */

.main_section {
  padding: 15%;
  text-align: center;
}

/* ------------------------- products ------------------------- */

.products {
  background-image: url("../images/curve.png");
  height: 95px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 15%;
  display: flex;
}

.product {
  padding: var(--space);
  margin-top: -226px;
}

.content {
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: var(--box);
  border-radius: 5px;
}

.image-product {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover {
  background-color: #5e9e22;
}

/* Beneficios */
.beneficios {
  padding: 10%;
  display: flex;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.beneficio img {
  max-height: 100px;
}

.text_beneficio {
  text-align: justify;
}

/* Mentions */
.mentions {
  display: flex;
  padding: 5%;
}

.mention img {
  width: 100%;
}

h2.mention_title {
  text-align: center;
}

.mention {
  padding: var(--space);
}

.content_mention {
  box-shadow: 0px 0 2px 1px #e6e5e9;
}

.mention .text {
  padding: var(--space);
}

/* ------------------------- Footer ------------------------- */

footer {
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: #1d252c;
  padding: var(--space);
  color: var(--white-color);
}

.footer a {
  color: var(--white-color);
  text-decoration: none;
}

/* ------------------------- Reglas responsive ------------------------- */

@media (max-width: 600px) {
  .products {
    display: inherit;
    height: auto;
  }

  .product {
    margin-top: auto;
  }

  .main_section {
    padding: 4%;
  }

  .beneficios,
  .mentions {
    display: inherit;
  }
}
